@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}
:root {
  --primary-color: #0071E3;
  --secondary-color: #ffffff;
  --text-color: #555;
  --basic-color: #f5f5f7;
  --header-h1-color:#2e2e2e;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
p {
  font-weight: 400;
  color: var(--text-color);
}

.navbar {
  background-color: var(--basic-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
}

.logo{
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
  left: 20px;
  cursor: not-allowed;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  transition: transform 0.5s;
  font-weight: bold;
  margin-bottom: 1px solid blue;
}
.nav-links a:hover {
  color: var(--primary-color);
}
.auth-buttons {
  display: flex;
  gap: 10px;
}
.nav-btn {
  padding: 8px 16px;
  font-family: inter;
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--text-color);
  background: none;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  cursor: pointer;
  font-weight: 480;
  border-radius: 6px;
  
}
.nav-btn:hover {
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--secondary-color);
}
.nav-btn i {
  margin-right: 8px;
}
.nav-btn:active {
  opacity: 0.5;
}
.hero-section {
  background-image: url('images/header.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: var(--text-color);
}
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 20px;
  transform: translateY(-40px); 
}
.hero-content h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-transform: capitalize;
  color: var(--header-h1-color);
}
#highlight {
  color: var(--primary-color);
}
.hero-content p {
  font-size: 18px;
  font-weight: 400;
  margin-top: -20px;
  transition: margin-top 0.3s ease-in-out;
  line-height: 30px;
}
.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}
.hero-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);       
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-btn.demo {
  background: none;
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.hero-btn.demo:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  outline: none;
}
.hero-btn:active {
  opacity: 0.5;
}

/***************************************The main section****************************************/
.main-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.main-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-heading {
  font-size: 20px;
  font-weight: 550;
  color: var(--text-color);
  margin-bottom: 2px;
}

.main-subheading {
  font-size: 30px;
  color: var(--header-h1-color);
  margin-top: 5px;
  margin-bottom: 5px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  display: flex;
  background-color:var(--basic-color); 
  flex: 1;
  max-width: 1000px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  text-align: left;
  flex-direction: column;
  align-items: left;
}

.card:hover {
  transform: translateY(-4px);
}

.icon-box {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 20px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.card a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 8px;
}
.users img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #f0f4ff;
  object-fit: cover;
  margin-left: -14px;
}
.users span {
  font-size: 18px;
  color: var(--text-color);
  margin-left: 10px;
  white-space: nowrap;
}
.product-launch-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 25px;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.product-launch-text {
  flex: 1;
  text-align: left;
  
}
.product-launch-img {
  flex: 1;
}

.product-launch-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  flex: 1;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.pricing-card {
  display: flex;
  background-color:var(--basic-color); 
  flex: 1;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  text-align: left;
  flex-direction: column;
  align-items: left;
}

pricing-card, .card-title {
  font-weight: bold;
  color: var(--header-h1-color);
  font-size: 20px;
}

.price {
  font-weight: 700;
  position: relative;
  font-size: 25px;
  color: var(--text-color);
}

.price::after {
  content: "";
  display: block;
  width: 300px;
  border-bottom: 1px solid #b0b0b0;
  margin-top: 40px;
}

.price .subscription-duration {
  font-size: 17px;
  font-weight: lighter;
  color: #b0b0b0;
  margin-left: 8px;

}

#crown {
  background-color: rgb(255, 165, 0);
}

.price-packages {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  list-style-position: inside;
  list-style: none;
}
ul {
  margin-top: 10px;
  margin-left: 0;
}

ul li {
  margin-top: 15px;
  color: var(--text-color);
  font-size: 16px;
  text-transform: capitalize;
}

.package-mark {
  margin-right: 8px;
}

.price-package-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);       
  padding: 12px 24px;
  font-size: 16px;
  font-weight: light;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.price-package-btn:active {
  opacity: 0.5;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-button {
  display: block;
  margin-top: 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);       
  padding: 12px 24px;
  font-size: 16px;
  font-weight: light;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:active {
  opacity: 0.5;
}

#get-started {
  margin-left: 8px;
}

.package-paragraph {
  margin-top: 5px;
  width: 800px;
}

/************frequently asked questions***************/
.faq-subheading {
  margin-bottom: 35px;
}

.faq-item {
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
  background: var(--basic-color);
  transition: background 0.3s ease;
}

.faq-item.active {
      background: var(--basic-color);
    }


.faq-question {
    width: 100%;
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--text-color);
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.arrow {
    transition: transform 0.3s ease;
  }

  .faq-item.active .arrow {
    transform: rotate(180deg); /* flip icon when open */
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    color: white;
    padding: 0 20px;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }

  .faq-item.active .faq-answer {
    max-height: 300px; /* enough space for answer */
    padding: 15px 20px;
  }

  .faq-answer p {
    margin: 0;
    line-height: 1.6;
  }

/**********Testimonials**********/

.Testimonials {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px 20px;
}

.Testimonials::-webkit-scrollbar {
  display: none;
}

.testimonial-container {
  min-width: 400px;
  max-width: 450px;
  background: var(--basic-color);
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quote {
  font-size: 30px;
  color: var(--header-h1-color);
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.author h4 {
  margin: 0;
  font-size: 16px;
  color: var(--header-h1-color);
  cursor: pointer;
}

.author small {
  color: var(--text-color);
  cursor: pointer;
}

/***********Newsletter*********/

.subscribe {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
  border-radius: 15px;
  max-width: 800px;
  margin: 40px auto;
}

.envelope {
  font-size: 50px;
}

.subscribe h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}

.subscribe p {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.input-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

.input-box i {
  color: var(--primary-color);
  margin-right: 10px;
}

.input-box input {
  border: 1px solid #ffff;
  color: var(--text-color);
  outline: none;
  flex: 1;
  font-size: 14px;
}

.subscribe-form button {
  background: none;
  border: 1px solid #ffff;
  color: var(--basic-color);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter-btn {
  outline: 1px solid #fff;
}


.subscribe-form button:hover {
  background: var(--basic-color);
  color: var(--text-color);
}

.subscribe-form button:active {
  opacity: 0.5;
}

.bell {
  margin-right: 10px;
}




footer {
  background-color: var(--basic-color);
  padding: 40px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-logo {
  margin-top: 18px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

.footer-logo h2 {
  color: var(--primary-color);
  margin: 0 0 10px;
}

.footer-logo p {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 8px;
}

 .footer-links h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--header-h1-color);
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: var(--primary-color);
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: var(--text-color);
  background: none;
  padding: 0px;
  border-radius: 50%;
}

.social-icons a:hover {
  color: var(--primary-color);
}

.company-info li {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text-color);
}

.company-info i {
  margin-right: 8px;
  color: var(--primary-color);
  text-align: left;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--text-color);
  border-top: 1px solid #ddd;
  padding-top: 15px;
}




/*************Responsiveness***************/

